# Feature Engineering
Feature Engineering is the process of converting raw data into meaningful numerical features so that a machine learning model can understand patterns and make better prediction

### 1.Feature explortion
- The Process of analyzing and visualizing features to uncover patterns, distributions, correlations, and Pottential Issues in the data set before applying Machine Learning.

### 2.Feature Creation
- The Procress of generating new meaningful features from existing data using domain Knowledge features from existing data using domain knowledge or mathematical operations to help the model learn better patterns.

### 3.Feature Encoding
- The Process of converting Categorical or non-numeric features into numeric form so machine learning models can process them effectively.
### 4. Feature Scaling
- The process of transforming numerical features to a standard range or distribution so that no feature dominates the learning process due to its scal.
### 5. Feature Selection :
- The process of identifying and keeping only the most relevant features while removing irrelevant or redundant ones to improve model performance and reduce overfitting
### Feature Creation (Adds Intelligence):
Definition:
- Feature Creation is the process of creating new features from existing data using domain knowledge and mathematical operations to help the model learn better patterns.### 

Wht it "Adds Intelligence":
- Raw data may not show hidden relationships
- New features provide extra information
- Models cannot think logically - feature guide lea### rning

Common Types of Feature Creation:
- Domain-based feature (real-world logic)
- Mathematical combinations (sum, average, ratio)
- Interaction features (combined effect of features)
- Polynomial Features (non-linear r
### Example:
- Total_Marks = Math + Science
- Efficiency = Total_Marks / Study_Hourselationships)...

### Impact on Model
- Improves accuray
- Helps models capture complex patterns
- Makes simple models perform better

In [8]:
import pandas as pd

df = pd.DataFrame({
    "Study_Hours": [2, 4, 6, 8, 10],
    "Attendance": [60, 70, 80, 90, 95],
    "Maths": [46, 55, 65, 75, 80],
    "Science": [42, 58, 68, 78, 88]
})

In [2]:
df

   Study_Hours  Attendamce  Maths  Science
0            2          60     46       42
1            4          70     55       58
2            6          80     65       68
3            8          90     75       78
4           10          95     80       88

#  Domain-Based Feature

In [9]:
df["Total_Marks"] = df["Maths"] + df["Science"]
df

   Study_Hours  Attendance  Maths  Science  Total_Marks
0            2          60     46       42           88
1            4          70     55       58          113
2            6          80     65       68          133
3            8          90     75       78          153
4           10          95     80       88          168

# Mathematical Feature

In [10]:
df["Marks_per_Hours"] = df["Total_Marks"] / df["Study_Hours"]
df

   Study_Hours  Attendance  Maths  Science  Total_Marks  Marks_per_Hours
0            2          60     46       42           88        44.000000
1            4          70     55       58          113        28.250000
2            6          80     65       68          133        22.166667
3            8          90     75       78          153        19.125000
4           10          95     80       88          168        16.800000

In [11]:
df["Study_Attendence_Interation"] = df["Study_Hours"] = df["Attendance"]
df

,Study_Hours,Attendance,Maths,Science,Total_Marks,Marks_per_Hours,Study_Attendence_Interation
0,60,60,46,42,88,44.000000,60
1,70,70,55,58,113,28.250000,70
2,80,80,65,68,133,22.166667,80
3,90,90,75,78,153,19.125000,90
4,95,95,80,88,168,16.800000,95

### Polynomial Feature

In [12]:
df["Study_Hours_Squared"] = df["Study_Hours"] ** 2
df

,Study_Hours,Attendance,Maths,Science,Total_Marks,Marks_per_Hours,Study_Attendence_Interation,Study_Hours_Squared
0,60,60,46,42,88,44.000000,60,3600
1,70,70,55,58,113,28.250000,70,4900
2,80,80,65,68,133,22.166667,80,6400
3,90,90,75,78,153,19.125000,90,8100
4,95,95,80,88,168,16.800000,95,9025

# Feature Selection (Removes Noise):
### Defition:
- Festure Selection is the process of selecting only relevant features and removing irrelevant or redundant ones to improve model performance.

### Why it "Removes Noise":
- Too many features confuse the model
- Irrelevant features cause overfitting
- Noise reduce prediction accuracy

### Types of Feature Selection:
- Filter methods (correlation, chi-square)
- Wrapper methods (forward, backward, RFE)
- Embedded methods (Lasso, tree-based models)

### Example:
- Removing weakly correlated features
- Droppimg features with zero importance
- Selecting top features using RFE (Recurive Feature Elimination)

### Impact On Model;
- Reduce overfitting
- Improves Generalization
- Speeds up training

In [14]:
x = df.drop("Science", axis=1)
y = df["Science"]
x

,Study_Hours,Attendance,Maths,Total_Marks,Marks_per_Hours,Study_Attendence_Interation,Study_Hours_Squared
0,60,60,46,88,44.000000,60,3600
1,70,70,55,113,28.250000,70,4900
2,80,80,65,133,22.166667,80,6400
3,90,90,75,153,19.125000,90,8100
4,95,95,80,168,16.800000,95,9025

# FITER METHOD (Statistics-Based)
â—† Correlation Methodv

In [16]:
df.corr()["Science"].sort_values()

Marks_per_Hours               -0.956224
Study_Hours_Squared            0.990856
Maths                          0.992572
Study_Hours                    0.994110
Attendance                     0.994110
Study_Attendence_Interation    0.994110
Total_Marks                    0.998562
Science                        1.000000
Name: Science, dtype: float64

In [17]:
df.corr()["Science"].sort_values(ascending = False)

Science                        1.000000
Total_Marks                    0.998562
Study_Hours                    0.994110
Attendance                     0.994110
Study_Attendence_Interation    0.994110
Maths                          0.992572
Study_Hours_Squared            0.990856
Marks_per_Hours               -0.956224
Name: Science, dtype: float64

### Selecting Important Features

In [21]:
corr = df.corr()["Science"].abs()
corr

Study_Hours                    0.994110
Attendance                     0.994110
Maths                          0.992572
Science                        1.000000
Total_Marks                    0.998562
Marks_per_Hours                0.956224
Study_Attendence_Interation    0.994110
Study_Hours_Squared            0.990856
Name: Science, dtype: float64

In [22]:
selected_features = corr[corr > 0.8].index
selected_features

Index(['Study_Hours', 'Attendance', 'Maths', 'Science', 'Total_Marks',
       'Marks_per_Hours', 'Study_Attendence_Interation',
       'Study_Hours_Squared'],
      dtype='object')